<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
Hello {{.User.Fname}} {{.User.Lname}}
</head>
<body>
<a href="/userHome">Home</a>
<a href="/logOut">LogOut</a>	

{{if .Message}}
<h1>{{.Message}}</h1>
{{end}}		
<form action="/changePassword" method="POST">
Old Password	<input type="text" name="oldPaswword" required=""><br>
New Password	<input type="text" name="newPaswword" required=""><br>
Confirm Password	<input type="text" name="email" required=""><br>
<input type="submit" name="submit" Value="Update">

</form>

</body>
</html>