<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
Hello {{.User.Fname}} {{.User.Lname}}
</head>
<body>
<a href="/changePassword">Change Password</a>
<a href="/userHome">Home</a>
<a href="/logOut">LogOut</a>	

{{if .Message}}
<h1>{{.Message}}</h1>
{{end}}		
<form action="/updateProfile" method="POST">
Fname	<input type="text" name="fname" value="{{.User.Fname}}"><br>
Lname	<input type="text" name="lname" value="{{.User.Lname}}"><br>
Email	<input type="text" name="email" value="{{.User.Email}}"><br>
<input type="submit" name="submit" Value="Update">

</form>

</body>
</html>